body {
    position: relative;
    height: 100vh;
    width: 100%;
}

#gif-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

#gif-logo {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 30px;
    padding: 0 1rem;
    background: #000;
}

#gif-logo img {
    max-width: 150px;
}

#new-gif {
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    background: #ffffff;
    z-index: 10;
    color: rgb(0, 0, 0);
    border-radius: auto;
    border: 0;
    font-size: auto;
    position: fixed;
    top: 0.5rem;
    left: 90%;
    transition: background 0.15s ease;
    cursor: pointer;
}

#new-gif:hover {
    background: #626262;
}